.b7 { color: #000000; font: normal 7px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"}
.b7b { color: #000000; font: bold normal 7px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"}
.b10b { color: #000000; font: bold normal 10px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"}
.b9 { color: #000000; font: normal 9px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"}
.b10 { color: #000000; font: normal 10px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"}
.g10 {  font: normal 10px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #669900}
.b12b {  font: bold 12px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"}
.b12 {  font: normal 12px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #000000}
.b11 {  font: normal 11px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #000000}
.r10b {  font: normal 10px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #FF0000}
.bl12b {  font: bold 12px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #0033FF}
.g12b {  font: bold 12px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #669933}
.bl9b {  font: bold 9px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #3333CC}
.g14b {  font: bold 14px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #669933}
.bl10b {  font: bolder 10px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #0066FF}
.bl11b {  font: bolder 11px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #0066FF}
.b14b {  font: bolder 14px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #000000}
.b14 {  font: 14px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #000000}
.b20b {  font: bolder 20px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #000000}
.b8 {  font: 8px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #000000}
.ebl12b {  font: bolder 12px "Arial", "Arial Black", "Comic Sans MS", "Courier", "Georgia", "Impact", "Times New Roman", "Verdana"; color: #0066FF}
.eb9b {  font: 9px "Arial", "Arial Black", "Comic Sans MS", "Courier", "Georgia", "Impact", "Times New Roman", "Verdana"; color: #000000}
.eb12 { font: 12px "Arial", "Arial Black", "Comic Sans MS", "Courier", "Georgia", "Impact", "Times New Roman", "Verdana"; color: #000000 }
.eb11 {  font: 11px "Arial", "Arial Black", "Comic Sans MS", "Courier", "Georgia", "Impact", "Times New Roman", "Verdana"; color: #000000}
.eb11b { font: bold 11px "Arial", "Arial Black", "Comic Sans MS", "Courier", "Georgia", "Impact", "Times New Roman", "Verdana"; color: #000000 }
.eb12b { font: bold 12px "Arial", "Arial Black", "Comic Sans MS", "Courier", "Georgia", "Impact", "Times New Roman", "Verdana"; color: #000000 }
.eb11bb { font: bolder 11px "Arial", "Arial Black", "Comic Sans MS", "Courier", "Georgia", "Impact", "Times New Roman", "Verdana"; color: #000000 }
.w12b {  font: bold 12px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #FFFFFF}
.w11b {  font: bold 11px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #FFFFFF}
.w10b {  font: bold 10px/18px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #FFFFFF}
.w9b {  font: bold 9px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #FFFFFF}
.w10 {  font: normal 10px/16px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; color: #FFFFFF}
.web12b {  font: bolder 12px "Arial", "Arial Black", "Comic Sans MS", "Courier", "Georgia", "Impact", "Times New Roman", "Verdana"; color: #FFFFFF}
.web14b {  font: bolder 14px "Arial", "Arial Black", "Comic Sans MS", "Courier", "Georgia", "Impact", "Times New Roman", "Verdana"; color: #FFFFFF}
.web12 {  font: 12px "Arial", "Arial Black", "Comic Sans MS", "Courier", "Georgia", "Impact", "Times New Roman", "Verdana"; color: #FFFFFF}
.b5 {  font: 5px "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"}
.eb4 {  font: 4px "Arial", "Arial Black", "Comic Sans MS", "Courier", "Georgia", "Impact", "Times New Roman", "Verdana"}
